<!DOCTYPE html>
<html>
<head>
  <!-- Set page to auto redirect to the Shop page -->
  <meta http-equiv="refresh" content="0; URL='/wk09Form.html'" />
</head>
<body>

<div>
    <h1>Getting Started on Heroku with Node.js</h1>
</div>


</body>
</html>
